---
import Internal from "../../layouts/Internal.astro";
import Section from "../../components/Article/Section.astro";
import Pagination from "../../components/General/Pagination.astro";
import { stripHtml } from "../../lib/striphtml";

export async function getStaticPaths({ paginate }) {
  const articles = await Astro.glob('./**/*.md');

  let articlePaths = articles.map(article => ({
    article: {
      url: article.url,
      title: article.frontmatter.title,
      description: `${stripHtml(article.compiledContent()).substr(0, 200)}…`,
      date: article.frontmatter.date
    }
  }))

  articlePaths = articlePaths.sort(function (a, b) {
    return new Date(a.article.date) < new Date(b.article.date) ? 1 : -1
  })

  articlePaths = articlePaths.filter(article => article.article.date != undefined)

  return paginate(articlePaths, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Internal title="Artigos" color="pink">
  <div class="flex flex-wrap sm:-m-12">
    {page.data.map(({ article }) => <Section title={article.title} href={article.url}>
      <Fragment set:html={article.description} />
    </Section>)}
  </div>
  <Pagination prev={page.url.prev} next={page.url.next} />
</Internal>
